.page-header {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    box-shadow: none;
  }
}

.page-header a {
  &:hover {
    color: $black-opacity60;
  }

  &:active {
    color: $black-opacity30;
  }
}

.page-header__wrapper {
  position: relative;
  display: grid;
  grid-template-rows: 79px repeat(2, auto);

  @media (min-width: $tablet-width) {
    grid-template-rows: 107px $header-bottom-row-size;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 87px $header-bottom-row-size;
    grid-template-columns: 1fr auto 1fr;
  }

  @include margin-wrapper;
}

.page-header__site-nav {
  @media (max-width: $only-mobile-width) {
    display: none;

    &--active {
      display: block;
      animation: fadeIn 0.5s ease-in-out;
    }
  }

  @media (min-width: $tablet-width) {
    align-self: stretch;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.page-header__user-nav {
  @media (max-width: $only-mobile-width) {
    display: none;

    &--active {
      display: block;
      animation: fadeIn 0.5s ease-in-out;
    }
  }

  @media (min-width: $tablet-width) {
    align-self: center;
    justify-self: end;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.page-header__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;

    img {
      width: 114px;
      height: 47px;
    }
  }

  @media (min-width: $desktop-width) {
    order: 2;

    img {
      width: 149px;
      height: 72px;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__toggle {
  display: none;

  @media (max-width: $only-mobile-width) {
    display: block;
  }
}

.page-header__additional-info {
  align-self: center;
  order: 4;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
  }
}
