.main-header {
  @include content-header;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 489px;
  padding-top: 90px;
  margin-bottom: 31px;
  background-color: $background-gray;
  background-image: url('../img/hero-mobile.png');
  background-repeat: no-repeat;
  background-position: 50% 0;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/hero-mobile@2x.png');
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    min-height: 756px;
    background-image: url('../img/hero-tablet.png');
    background-size: fill;

    @media (min-resolution: 2dppx) {
      background-image: url('img/hero-tablet@2x.png');
      background-size: 768px auto;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url('../img/hero-desktop.png');

    @media (min-resolution: 2dppx) {
      background-image: url('../img/hero-desktop@2x.png');
      background-size: 1150px auto;
    }
  }
}

.main-header__title {
  font-size: 27px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 86px;
    font-size: 43px;
    line-height: 50px;

    .main-header_title-break:first-child {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.main-header__btn-list {
  @media (min-width: $tablet-width) {
    margin: 0 $non-mobile-margin;
  }
}
