.product-cards {
  position: relative;
  margin-bottom: 31px;

  @media (min-width: $desktop-width) {
    margin-bottom: 97px;
  }

  &::after {
    @include zigzag;
  }
}

.product-cards__content {
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 72px;
  }
}
