@use './global/mixins';
@use './global/vars';

.features {
  max-width: vars.$max-content-width;
  padding: 2.25rem vars.$mobile-padding 3rem;
  margin: 0 auto;
  text-align: center;
  @include mixins.tablet {
    padding: 7.938rem vars.$tablet-padding 7.938rem;
  }
  @include mixins.desktop {
    padding: 7rem vars.$laptop-padding 7rem;
  }
  @include mixins.bigScreen {
    padding: 7rem vars.$big-screen-padding 7rem;
  }
}

.features__list {
  display: grid;
  grid-template-columns: minmax(0, 360px);
  row-gap: 2rem;
  column-gap: 2rem;
  justify-content: center;
  width: 100%;
  margin-top: 2.25rem;
  @include mixins.smallLaptop {
    grid-template-columns: repeat(2, minmax(0, 540px));
    row-gap: 4rem;
    margin-top: 6.25rem;
  }
  @include mixins.desktop {
    grid-template-columns: repeat(4, minmax(0, 360px));
  }
}

.feature__item__header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 252px;
  padding: 5px;
  color: vars.$color-white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include mixins.tablet {
    height: 393px;
    padding: 10px;
  }
  @include mixins.desktop {
    height: 261px;
    padding: 5px;
  }
}

.features__item {
  &:nth-child(1) .feature__item__header {
    background-image: url('../img/about-1.webp');
  }
  &:nth-child(2) .feature__item__header {
    background-image: url('../img/about-4.webp');
  }
  &:nth-child(3) .feature__item__header {
    background-image: url('../img/about-3.webp');
  }
  &:nth-child(4) .feature__item__header {
    background-image: url('../img/about-2.webp');
  }
}

.feature__item__header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.features__item__title {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 600;

  @include mixins.phone {
    font-size: 14px;
  }

  @include mixins.smallLaptop {
    margin-bottom: 14px;
    font-size: 16px;
  }
  @include mixins.desktop {
    margin-bottom: 10px;
    font-size: 14px;
  }
}
.features__item__keys__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 7px;
  column-gap: 7px;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 50%;
  padding-right: 5px;
  padding-left: 5px;
  @include mixins.phone {
    min-width: 175px;
  }
}
.features__item__key {
  padding: 3px 8px;
  font-size: 8px;
  font-weight: 400;
  background-color: vars.$color-primary;
  border: solid 2px vars.$color-white;
  border-radius: 19px;

  @include mixins.minScreen {
    font-size: 10px;
  }
}

.features__item p {
  font-size: 1rem;
  line-height: 1.375rem;
  color: vars.$color-secondary;
  text-align: left;
  @include mixins.tablet {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  @include mixins.desktop {
    font-size: 1.438rem;
  }
}
