$breakpoint-xxs: 300px;
$breakpoint-xs: 376px;
$breakpoint-sm: 769px;
$breakpoint-pre-md: 987px;
$breakpoint-md: 1200px;
$breakpoint-lg: 1600px;
$breakpoint-xl: 1920px;

@mixin minScreen {
  @media only screen and (min-width: $breakpoint-xxs) {
    @content;
  }
}

@mixin phone {
  @media only screen and (min-width: $breakpoint-xs) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin smallLaptop {
  @media only screen and (min-width: $breakpoint-pre-md) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin bigScreen {
  @media only screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

@mixin onlyPhone {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}
