$mobile-padding: 0.938rem; //15px
$tablet-padding: 2.5rem; //40px
$laptop-padding: 3.125rem; //50px
$big-screen-padding: 13.125rem; //210px

$max-content-width: 120rem;

$color-primary: #005efe;
$color-primary-dark: #004bcb;
$color-primary-light: #4f90ff;
$color-secondary: #686868;
$color-secondary-dark: #2e2e2e;
$color-secondary-light: #6a747e;
$color-white: #ffffff;
$color-black: #141414;
$color-bg-dark: #cad0dc;
$color-bg: #f2f5fa;
$color-disabled: #8694ac;
$color-bg-dark-opacity: rgba(202, 208, 220, 0.3);
