.catalog-cards {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.catalog-cards__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.catalog-cards__item {
  width: 100%;
  height: auto;

  @media (min-width: $desktop-width) {
    width: 30%;
  }
}
