.catalog-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 30px;
  border: 1px solid $gray-border;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    flex-wrap: nowrap;

    &:not(:nth-child(3n)) {
      margin-right: 5%;
    }
  }

  &:hover {
    box-shadow: 0 6px 10px $black-opacity10;
  }

  &:active {
    box-shadow: 0 3px 5px $black-opacity10;
  }
}

.catalog-card__title {
  display: block;
  margin-top: 27px;
  margin-bottom: 6px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-card__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 100%;
  padding: 0 28px;

  @media (min-width: $tablet-width) {
    flex: 0 1 50%;
    min-width: auto;
    padding: 0 34px;
  }

  @media (min-width: $desktop-width) {
    flex: 1 0 auto;
    min-width: 100%;
    padding: 0 28px;
  }
}

.catalog-card__img-wrapper {
  align-self: center;
  min-width: 100%;
  height: auto;

  @media (min-width: $tablet-width) {
    flex: 1 1 50%;
    min-width: auto;
  }

  @media (min-width: $desktop-width) {
    flex-basis: auto;
    min-width: 100%;
  }
}

.catalog-card__img {
  width: 100%;
  height: auto;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 334px;
    min-height: 334px;
  }

  @media (min-width: $desktop-width) {
    min-width: 316px;
    min-height: 462px;
  }
}

.catalog-card__params {
  display: block;
  margin-bottom: 17px;
  font-size: 13px;
  line-height: 30px;
  color: $black-blue-text;
}

.catalog-card__cart {
  margin-top: auto;
}
