@use './global/mixins';
@use './global/vars';
@use './global/fonts';
@use './global/reset';
@use './global/global';
@use './global/keyframes';
@use './blocks/header';
@use './blocks/hero';
@use './blocks/features';
@use './blocks/solutions';
@use './blocks/tariffs';
@use './blocks/about';
@use './blocks/partners';
@use './blocks/news';
@use './blocks/footer';

body.menu--active {
  @include mixins.onlyPhone {
    overflow: hidden;
    .hero__subtitle__container,
    .hero__title {
      opacity: 0;
    }
  }
}

.section__title {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 3.25rem;
  color: vars.$color-black;
  text-align: center;
  @include mixins.tablet {
    font-size: 2.813rem;
  }
}

.callback__btn {
  padding: 0 10px;
  font-size: 20px;
  line-height: 52px;
  color: vars.$color-white;
  text-align: center;
  background-color: vars.$color-primary;
  border-radius: 26px;
  @include mixins.smallLaptop {
    font-size: 25px;
  }

  &--fill-width {
    display: block;
    width: 100%;
  }

  &--popup {
    display: none;
  }

  @include mixins.tablet {
    &--phone {
      display: none;
    }

    &--popup {
      display: block;
    }
  }

  &:hover {
    color: vars.$color-white;
    background-color: vars.$color-primary-light;
  }

  &:active {
    color: vars.$color-white;
    background-color: vars.$color-primary-dark;
  }
}

a {
  color: vars.$color-secondary;
  &:hover {
    color: vars.$color-primary;
  }
}

.modal {
  min-width: 350px;
  max-width: 100%;
  padding: 20px;
  color: vars.$color-secondary;
  background-color: vars.$color-white;
  border: 3px solid vars.$color-primary;
  border-radius: 44px;

  @include mixins.smallLaptop {
    padding: 27px;
  }
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 280px;
}

.modal__phone__container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  font-size: 1.625rem;
  line-height: 1.875rem;
  & a {
    font-weight: 700;
    color: vars.$color-secondary-dark;
    &:hover {
      color: vars.$color-primary;
    }
  }

  @include mixins.laptop {
    font-size: 1.875rem;
  }
}
